[submodule "libusb"]
	path = libusb
	url = https://github.com/libusb/libusb.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "bzip2"]
	path = bzip2
	url = https://github.com/enthought/bzip2-1.0.6
