<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Updater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
     <applicationSettings>
        <Updater.Properties.Settings>
           <setting name="UpdaterFilename" serializeAs="String">
              <value>updater.sb</value>
           </setting>
           <setting name="MscUsbVid" serializeAs="String">
              <value>0x066F</value>
           </setting>
           <setting name="MscUsbPid" serializeAs="String">
              <value>0xA010</value>
           </setting>
           <setting name="MtpUsbVid" serializeAs="String">
              <value>0x066F</value>
           </setting>
           <setting name="MtpUsbPid" serializeAs="String">
              <value>0xA010</value>
           </setting>
           <setting name="UpdaterUsbVid" serializeAs="String">
              <value>0x066F</value>
           </setting>
           <setting name="UpdaterUsbPid" serializeAs="String">
              <value>0x37FF</value>
           </setting>
           <setting name="RecoveryUsbVid" serializeAs="String">
              <value>0x066F</value>
           </setting>
           <setting name="RecoveryUsbPid" serializeAs="String">
              <value>0x3700</value>
           </setting>
           <setting name="EraseMedia" serializeAs="String">
              <value>True</value>
           </setting>
           <setting name="PreserveJanus" serializeAs="String">
              <value>False</value>
           </setting>
           <setting name="VolumeLabel" serializeAs="String">
              <value>FSL PMP</value>
           </setting>
           <setting name="ShowLog" serializeAs="String">
              <value>True</value>
           </setting>
           <setting name="DriveArray" serializeAs="String">
              <value>
                 <ArrayOfLogicalDrive xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                    <!--- type: Data, HiddenData, System -->
                    <!--- tag: FirmwareImg, FirmwareImg2, FirmwareImg3, Data, DataJanus, DataSettings -->
                    <!--- type: None, ImageData, Format, JanusInit, FileData -->
                    <LogicalDrive filename="firmware.sb" desc="Firmware Image 1" type="System" tag="FirmwareImg" requestedSize="0" flags="ImageData" />
                    <LogicalDrive desc="Data Drive" type="Data" tag="Data" requestedSize="0" flags="Format" />
                    <LogicalDrive desc="Janus Drive" type="HiddenData" tag="DataJanus" requestedSize="0" flags="JanusInit" />
                    <LogicalDrive desc="Settings Drive" type="HiddenData" tag="DataSettings" requestedSize="0" flags="None" />
                    <LogicalDrive filename="firmware.sb" desc="Firmware Image 2" type="System" tag="FirmwareImg2" requestedSize="0" flags="ImageData" />
                    <LogicalDrive filename="firmware.sb" desc="Firmware Image 3" type="System" tag="FirmwareImg3" requestedSize="0" flags="ImageData" />
                 </ArrayOfLogicalDrive>
              </value>
           </setting>
        </Updater.Properties.Settings>
    </applicationSettings>
</configuration>